<h1>MENU A PROPOSER</h1>
<form [formGroup]="menuForm">
    <div>
        <label>Titre</label>
        <input type="text" placeholder="titre" formControlName="titre">
        <div class="error" *ngFor="let error of getErrorMessage('titre')">
            {{ error }}
        </div>
    </div>
    
    <div>
        <label>Description</label>
        <textarea placeholder="description" formControlName="description"></textarea>
        <div class="error" *ngFor="let error of getErrorMessage('description')">
            {{ error }}
        </div>
    </div>

    <button type="submit" (click)="submit()"[disabled]="menuForm.invalid">Soumettre</button>
</form>